<%= bootstrap_form_for :post, url: post_path(@post), method: :patch, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f| %>

    <% if @post.errors.any? %>
        <div id="error_explanation" class="alert alert-warning" role="alert">
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.text_field :author, label: "Name"%>
    <%= f.text_field :title, label: "Post title" %>
    <%= f.text_area :content, label: "Post content" %>
    <%= f.form_group do %>
        <%= f.submit "Update post", class: "btn btn-success" %>
        <%= link_to "Cancel", posts_path, :class => "btn btn-default" %>
    <% end %>    
<% end %>